@page

@using IdentityServer.Pages.Account.Password;


@model ResetPasswordModel
@{
    ViewData["Title"] = "Recupere sua senha";
}

<div class="containerbar authenticate-bg">
    <div class="container">
        <div class="auth-box forgot-password-box">
            <div class="row no-gutters align-items-center justify-content-center">
                <div class="col-md-6 col-lg-5">
                    <div class="auth-box-center">
                        <div class="card">
                            <div class="card-body">
                                <div class="auth-box-logo mb-3 text-center">
                                    <img src="~/images/logo-light.svg" width="350px" class="img-fluid " alt="logo">
                                    <p class="mb-0 mt-2">O Governo Digital mais próximo do cidadão</p>
                                </div>
                                <hr />

                                <h5 class="my-4 text-center">@ViewData["Title"]</h5>
                                
                                <div>
                                    <p class="mb-3 text-justify">Por favor, presencha os dados abaixo para recuperar sua senha.</p>
                                </div>

                                <form method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input asp-for="Input.Code" type="hidden" />

                                    <div class="form-group">
                                        <span>Recuperar senha usando: </span>
                                        <span id="lblLoginPorEmail" class="px-2">
                                            @Html.RadioButtonFor(m => m.Input.TipoLogin, TipoLogin.EMAIL, new { @id = "rdoLoginPorEmail", name = "tipoLogin", Checked = Model.Input.TipoLogin == TipoLogin.EMAIL ? "checked" : "" })
                                            @TipoLogin.EMAIL.GetDescription()
                                        </span>
                                        <span id="lblLoginPorCPF" class="px-2">
                                            @Html.RadioButtonFor(m => m.Input.TipoLogin, TipoLogin.CPF, new { @id = "rdoLoginPorCPF", name = "tipoLogin", Checked = Model.Input.TipoLogin == TipoLogin.CPF ? "checked" : "" })
                                            @TipoLogin.CPF
                                        </span>
                                        <span asp-validation-for="Input.TipoLogin" class="text-danger"></span>
                                    </div>

                                     <div id="divLoginPorEmail" class="form-group">
                                            <label asp-for="Input.Email" class="form-label"></label>
                                            <input id="txtLoginEmail" asp-for="Input.Email"  class="form-control" placeholder="seuemail@exemplo.com" autocomplete="username" aria-required="true" autofocus />
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>
                                        <div id="divLoginPorCPF" class="form-group visually-hidden">
                                            <label asp-for="Input.CPF" class="form-label"></label>
                                            <input id="txtLoginCPF" asp-for="Input.CPF" class="form-control cpf" placeholder="000.000.000-00" autocomplete="cpf" aria-required="true" />
                                            <span asp-validation-for="Input.CPF" class="text-danger"></span>
                                        </div>

                                    <div class="form-group">
                                        <label asp-for="Input.Password" class="form-label"></label>
                                        <input asp-for="Input.Password" class="form-control" autocomplete="password" aria-required="true" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="password" aria-required="true" />
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="w-100 btn btn-lg rounded btn-primary">Resetar Senha</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
